<a href="https://colab.research.google.com/github/j1mmy66/HSE-Foundations-of-Machine-Learning/blob/main/hw02_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [86]:
import pandas as pd
import numpy as np

#### Описание данных

В папке Dat (https://github.com/hse-ds/iad-intro-ds/blob/master/2023/homeworks/Data.zip) находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [10]:
students_info = pd.read_csv("Students_info_0.csv")
for i in range(1, 10):
  students_info = pd.concat([students_info,pd.read_csv(f'Students_info_{i}.csv')])
students_marks = pd.read_csv("Students_marks_0.csv")
for i in range(1, 10):
  students_marks = pd.concat([students_marks, pd.read_csv(f'Students_marks_{i}.csv')])
df = pd.merge(students_info, students_marks, on = 'index', how = 'left')
df.sample(n = 10)

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
645,645,female,group B,bachelor's degree,standard,completed,group7,65,81,81
417,417,male,group C,associate's degree,standard,none,group5,74,73,67
81,81,male,group B,high school,free/reduced,none,group1,49,45,45
728,728,female,group D,high school,free/reduced,none,group8,73,92,84
937,937,female,group E,high school,free/reduced,none,group10,57,58,57
533,533,female,group E,associate's degree,standard,completed,group6,79,88,94
970,970,female,group D,bachelor's degree,standard,none,group10,89,100,100
618,618,male,group D,master's degree,standard,none,group7,95,81,84
425,425,female,group C,some college,free/reduced,none,group5,62,67,62
194,194,female,group C,master's degree,standard,completed,group2,69,84,85

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [11]:
df.drop('index', axis = 1)
df.head(10)

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75
5,5,female,group B,associate's degree,standard,none,group1,71,83,78
6,6,female,group B,some college,standard,completed,group1,88,95,92
7,7,male,group B,some college,free/reduced,none,group1,40,43,39
8,8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [12]:
df.shape

(1000, 10)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [15]:
df.describe()

             index  math score  reading score  writing score
count  1000.000000  1000.00000    1000.000000    1000.000000
mean    499.500000    66.08900      69.169000      68.054000
std     288.819436    15.16308      14.600192      15.195657
min       0.000000     0.00000      17.000000      10.000000
25%     249.750000    57.00000      59.000000      57.750000
50%     499.500000    66.00000      70.000000      69.000000
75%     749.250000    77.00000      79.000000      79.000000
max     999.000000   100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [18]:
df.isna().sum()

index                          0
gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
group                          0
math score                     0
reading score                  0
writing score                  0
dtype: int64

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [30]:
print(df['math score'].mean())
print(df['writing score'].mean())
print(df['reading score'].mean())

66.089
68.054
69.169

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [37]:
print(df.groupby('test preparation course')['math score'].mean())
print(df.groupby('test preparation course')['reading score'].mean())
print(df.groupby('test preparation course')['writing score'].mean())

test preparation course
completed    69.695531
none         64.077882
Name: math score, dtype: float64
test preparation course
completed    73.893855
none         66.534268
Name: reading score, dtype: float64
test preparation course
completed    74.418994
none         64.504673
Name: writing score, dtype: float64

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [34]:
df.lunch.unique()

array(['standard', 'free/reduced'], dtype=object)

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [38]:
df.rename(columns={"parental level of education": "education", "test preparation course": "test preparation"}, inplace=True)
df.head()

,index,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75

**Зафиксируем минимальный балл для сдачи экзамена**

In [39]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [72]:
print("доля студентов сдала экзамен по математике")
print((df['math score'] > passmark).value_counts(True)[0])
print("доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике")
print(((df['math score'] > passmark) & (df['test preparation'] == "completed")).value_counts()[1] / (df['test preparation'] == "completed").value_counts()[1])
print("доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике")
print(((df['math score'] < passmark) & (df['test preparation'] == "none") & (df['gender'] == "female")).value_counts()[1]/((df['test preparation'] == "none") & (df['gender'] == "female")).value_counts()[1])

доля студентов сдала экзамен по математике
0.85
доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике
0.9078212290502793
доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике
0.20958083832335328

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [79]:
%%time
print(df.groupby(df['race/ethnicity'])['reading score'].mean())
print(df.groupby(df['education'])['writing score'].min())

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64
education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64
CPU times: user 6.12 ms, sys: 842 µs, total: 6.96 ms
Wall time: 7.92 ms

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [80]:
%%time

print('For every race/ethnicity reading score: ')
for group in df['race/ethnicity'].unique():
  print('Group: {}, mean = {}'.format(group, df[df['race/ethnicity'] == group]['reading score'].mean()))

print()

print('For every level of education writing score: ')
for group in df['education'].unique():
  print('Group: {}, min = {}'.format(group, df[df['education'] == group]['writing score'].min()))

print()

For every race/ethnicity reading score:
Group: group B, mean = 67.35263157894737
Group: group C, mean = 69.10344827586206
Group: group A, mean = 64.67415730337079
Group: group D, mean = 70.03053435114504
Group: group E, mean = 73.02857142857142

For every level of education writing score:
Group: bachelor's degree, min = 38
Group: some college, min = 19
Group: master's degree, min = 46
Group: associate's degree, min = 35
Group: high school, min = 15
Group: some high school, min = 10

CPU times: user 21.5 ms, sys: 1.89 ms, total: 23.4 ms
Wall time: 23.2 ms

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [84]:
print(df.groupby([df['gender'], df['education']])['math score'].mean())
print()
print(df.groupby([df['gender'], df['education']])['writing score'].mean())
print()
print(df.groupby([df['gender'], df['education']])['reading score'].mean())

gender  education
female  associate's degree    65.250000
        bachelor's degree     68.349206
        high school           59.351064
        master's degree       66.500000
        some college          65.406780
        some high school      59.296703
male    associate's degree    70.764151
        bachelor's degree     70.581818
        high school           64.705882
        master's degree       74.826087
        some college          69.009259
        some high school      67.840909
Name: math score, dtype: float64

gender  education
female  associate's degree    74.000000
        bachelor's degree     78.380952
        high school           66.691489
        master's degree       77.638889
        some college          74.050847
        some high school      68.285714
male    associate's degree    65.405660
        bachelor's degree     67.654545
        high school           58.539216
        master's degree       72.608696
        some college          63.148148
        some high school      61.375000
Name: writing score, dtype: float64

gender  education
female  associate's degree    74.120690
        bachelor's degree     77.285714
        high school           68.202128
        master's degree       76.805556
        some college          73.550847
        some high school      69.109890
male    associate's degree    67.433962
        bachelor's degree     68.090909
        high school           61.480392
        master's degree       73.130435
        some college          64.990741
        some high school      64.693182
Name: reading score, dtype: float64

In [87]:
pd.pivot_table(df,index=['gender','education'],values=['math score', 'writing score', 'reading score'], aggfunc=np.mean)

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [88]:
df['Math_PassStatus'] = df['math score'].apply(lambda x: 'F' if x < passmark else 'T')
df['Reading_PassStatus'] = df['reading score'].apply(lambda x: 'F' if x < passmark else 'T')
df['Writing_PassStatus'] = df['writing score'].apply(lambda x: 'F' if x < passmark else 'T')
df.head()

,index,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74,T,T,T
1,1,female,group C,some college,standard,completed,group1,69,90,88,T,T,T
2,2,female,group B,master's degree,standard,none,group1,90,95,93,T,T,T
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,T,F
4,4,male,group C,some college,standard,none,group1,76,78,75,T,T,T

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [94]:
df['OverAll_PassStatus'] = df.apply(lambda row: "T" if (row['Math_PassStatus'] == "T" and row['Reading_PassStatus'] == "T" and row['Writing_PassStatus'] == "T") else "F", axis=1)

df.head()

,index,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74,T,T,T,T
1,1,female,group C,some college,standard,completed,group1,69,90,88,T,T,T,T
2,2,female,group B,master's degree,standard,none,group1,90,95,93,T,T,T,T
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,T,F,F
4,4,male,group C,some college,standard,none,group1,76,78,75,T,T,T,T

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [95]:
def GetGrade(mark: int):
    if (90 <= mark and mark <= 100):
      return 'A'
    if (80 <= mark and mark < 90):
      return 'B'
    if (70 <= mark and mark < 80):
      return 'C'
    if (60 <= mark and mark < 70):
      return 'D'
    if (50 <= mark and mark < 60):
      return 'E'
    return 'F'

def helper(row):
  return GetGrade((row['math score'] + row['reading score'] + row['writing score']) / 3)

df['Grade'] = df.apply(helper, axis=1)
df.sample(n=15)

,index,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus,Grade
741,741,female,group A,associate's degree,free/reduced,none,group8,37,57,56,F,T,T,F,E
725,725,male,group E,some college,standard,completed,group8,81,74,71,T,T,T,T,C
868,868,male,group E,associate's degree,free/reduced,completed,group9,78,74,72,T,T,T,T,C
345,345,female,group C,high school,standard,none,group4,72,80,75,T,T,T,T,C
462,462,female,group E,some college,standard,none,group5,71,70,76,T,T,T,T,C
656,656,male,group C,associate's degree,free/reduced,none,group7,77,67,64,T,T,T,T,D
600,600,female,group D,master's degree,standard,none,group7,54,60,63,T,T,T,T,E
424,424,male,group B,some college,free/reduced,none,group5,41,39,34,F,F,F,F,F
2,2,female,group B,master's degree,standard,none,group1,90,95,93,T,T,T,T,A
790,790,female,group B,high school,standard,none,group8,48,62,60,F,T,T,F,E
520,520,male,group D,some college,standard,none,group6,71,49,52,T,F,T,F,E
963,963,female,group C,some high school,free/reduced,completed,group10,65,76,75,T,T,T,T,C
344,344,male,group D,some college,standard,none,group4,79,73,67,T,T,T,T,C
798,798,male,group E,some college,standard,none,group8,69,60,54,T,T,T,T,D
533,533,female,group E,associate's degree,standard,completed,group6,79,88,94,T,T,T,T,B